@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

li, 
button {
  font-size: 14px;
  font-weight: 500;
  color: #26272c;
  cursor: pointer;
}

.btn {
  padding: 8px 30px;
}

.btn-border {
  border-radius: 20px;
  background-color: #26272c;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.btn-border-md {
  border-radius: 5px;
  background-color: #26272c;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.btn-no-border-md {
  border-radius: 2px;
  background-color: #26272c;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.btn-no-border {
  border-radius: none;
  background-color: #f7f7f7;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.btn-border-md:hover {
  background-color: #9898a3;
}

.btn-no-border-md:hover {
  background-color: #9898a3;
}

.btn-border:hover {
  background-color: #9898a3;
}

.btn-no-border:hover {
  color: #9898a3;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 30px 175px 20px;
  width: 100%;
  border-bottom: 1px solid #26272c;
}

hr {
  position: relative;
  width: 1150px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  font-size: 20px;  
  color: #26272c;
}

.left-content {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
}

.left-content a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 60px;
  font-size: 18px;
}

.nav-links a {
  color: #26272c;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #9898a3;
}

.right-content button {
  margin-left: 10px;
}

/* Sub-header Section  */
.sub-header {
  margin: auto;
  width: 80%;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.sub-header .nav-links a {
  text-decoration: none;
}

/* Introduction Section  */
.intro {
  display: flex;
  margin: auto;
  width: 100%;
  color: #26272c;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.left-intro header {
  font-size: 65px;
  font-weight: 600;
}

.left-intro p {
  margin-top: 15px;
  font-size: 18px;
}

.left-intro button {
  margin-top: 25px;
}

.right-img {
  margin-left: 25%;
  object-fit: cover;
}

.banner .content-col p {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

/* Content Collection Section  */
.collection {
  padding: 20px 190px;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.collection h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 35px;
}

.collection .message {
  margin-left: 24px;
  font-size: 16px;
}
.collection a {
  text-decoration: none;
  font-weight: 600;
  color: #26272c;
  transition: all 0.3s ease 0s;
}

.collection a:hover {
  color: #5a5b60;
}

.collection .row {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}

.collection .row .content-col {
  background-color: #D9D9D9;
  padding: 18px 60px 50px 18px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.collection .row .content-col:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
}

.collection .row .content-col h3 {
  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

.collection .row .content-col p {
  margin-top: 7px;
  text-align: left;
}

/* Content Banner Section  */
.banner {
  background-color: #D9D9D9;
  color: #24252A;
  margin: auto;
  height: 700px;
  width: 80%;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding-left: 0;
}

.banner .left-content {
  display: block;
  flex-direction: column;
  margin-top: 20px;
}

.banner .left-content .detail-row {
  display: flex;
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.banner .left-content header {
  font-size: 50px;
  font-weight: 500;
}

.banner .left-content .detail-row i{
  font-size: 50px;
}

.banner .left-content .detail-row h3 {
  font-size: 40px;
  font-weight: 400;
  margin-left: 15px;
}

.banner .left-content h5 {
  font-size: 25px;
  font-weight: 400;
  margin-left: 88px;
  color: #9898a3;
}

.banner .right-content {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/images/join.jpg);
  background-position: center;
  background-size: cover;
  width: 40%;
  margin-left: 68px;
}

.banner .right-content img {
  position: relative;
  object-fit: cover;
  height: 100px;
  width: 100px;
}


/* Join Section  */
.join {
  margin: 60px auto;
  background-color: #D9D9D9;
  background-position: center;
  background-size: cover;
  width: 70%;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.join header {
  color: #24252A;
  font-size: 40px;
}

.join h4 {
  color: #5a5b60;
  font-weight: 400;
  font-size: 20px;
}

.join button {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Footer Section  */

.footer {
  background-color: #26272c;
  color: #fff;
  position: sticky;
  top: 100%;
}

.footer .row {
  margin-left: 230px;
  display: flex;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 80px;
}

.footer .row .content-col {
  flex-basis: 25%;
  margin-bottom: auto;
}


.footer .row .content-col ul li{
  color: #fff;
  list-style: none;
  margin-top: 10px;
}

.footer .row .content-col .title {
  font-weight: 700;
  font-size: 15px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 210px 60px;
}

.horizontal-line {
  margin: 10px auto;
  width: 70%;
  height: 2px;
  background-color: #fff;
}

/* Login Page  */
.login {
  padding-left: 8%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #f7f7f7;
}

.wrapper {
  background: #fff;
  margin-top: 30px;
  width: 400px;
  border-radius: 16px;
  box-shadow: 0px -0x 26px -2px rgba(0,0,0,0.52);
  -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.52);
}

.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #26272c;
}

.form form {
  margin: 20px 0;
}

.error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.success-txt {
  color: #148b2e;
  background: #9bebac;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #b0e9c5;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-weight: 600;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.form .link {
  margin: 10px 0;
  font-size: 15px;
}

.form .link a {
  color: #26272c;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.form .link a:hover {
  text-decoration: underline;
}

.text-danger {
  font-size: 13px;
  color: #d9534f;
  padding-left: 2px;
}

/* Footer Section */
.footer {
  background: #24252A;
  margin-top: 40px;
  padding: 10px 40px;
  width: 100%;
  bottom: 0;
}

.footer-details {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.footer-mtn {
  margin-top: 400px;
  background: #24252A;
  padding: 10px 40px;
}

.footer-st {
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 10px 60px 10px 60px;
  margin-top: 40px;
}

.footer-st h3 {
  color: #24252A;
  font-size: 16px;
  font-weight: 400;
}

/* Categories Section  */
.categories {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.categories header {
  font-size: 40px;
  font-weight: 300;
}

.categories p {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  letter-spacing: 2px;
}

.container {
  margin: auto;
}

.container .row {
  display: flex;
  margin: 5%;
  justify-content: space-evenly;
}

.container .row .row-col {
  flex-basis: 25%;
  margin: 0 -70px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  border: 12px solid #D9D9D9;
  transition: all 0.5s ease 0s;
}

.container .row .row-col:hover {
  border: 11px solid #3e3f43;
}

.container .row .row-col i {
  text-align: center;
  font-size: 90px;
  margin: 30px 0;
}

.container .row .row-col h5 {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}

.container .row .row-col button {
  margin: 40px 0;
  padding: 8px 40px;
}

/* Home Introduction Banner Section  */
.home-intro-banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.home-intro-banner h2 {
  font-size: 30px;
  font-weight: 400;
}

.home-intro-banner p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.home-intro-banner a {
  margin-top: 20px;
}

/* Standard Search Bar Section */
.search-container {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.search-container form .input-group {
  display: flex;
  justify-content: center;
}

.search-container form .input-group .form-control {
  width: 70%;
  font-size: 16px;
  padding: 5px 20px;
}

/* Post Pop-Up Section */
.center, .pstp-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pstp-container {
  width: 420px;
  height: 400px;
  background: #D9D9D9;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.pstp-container form .header {
  padding: 20px 20px 10px 20px;
  height: 68px;
  background: #24252A;
  color: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.pstp-container form .header h2 {
  color: white;
  font-weight: normal;
}

.pstp-container form .header .fa-times {
  font-size: 20px;
}

.pstp-container form .content-row {
  margin: 20px 0 0 10px;
}






/* Content Post Section  */
.post-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.post-container .row {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}

.post-container .row .row-col {
  flex-basis: 29%;
  margin: 0 -40px;
  box-sizing: border-box;
  background: #D9D9D9;
  padding: 30px 20px 150px 20px;
  border-radius: 30px;
  position: relative;
  border: 12px solid #EDEBEB;
  transition: all 0.3s ease 0s;
}

.post-container .row .row-col .user-details {
  display: flex;
  flex-direction: row;
}

.post-container .row .row-col .user-details h5 {
  font-size: 18px;
  margin: 5px 0 0 5px;
}

.post-container .row .row-col .content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 0;
}

.post-container .row .row-col .content button {
  margin: 20px 0;
}

.post-container .row .row-col h3 {
  font-size: 25px;
  font-weight: 400;
}

.post-container .row .row-col .actions { 
  padding: 10px 0px 10px;
  position: absolute;
  bottom: 0px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: #AAAAAA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.post-container .row .row-col .actions .left-content button {
  display: flex;
}

.post-container .row .row-col .actions .left-content button h5 {
  font-size: 14px;
  margin-left: 20px;
  font-weight: 400;
}

.post-container .row .row-col .actions .right-content {
  display: flex;
  justify-content: row;
}

.post-container .row .row-col .actions .icon {
  min-width: 42px;
  height: 42px;
  background: #24252A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.post-container .row .row-col .actions i {
  font-size: 22px;
  transition: all 0.3s ease 0s;
}

.post-container .row .row-col .actions .icon i.fa-heart {
  color: #fff;
}

.post-container .row .row-col .actions .icon i.fa-heart:hover {
  color: #cd5561;
}

.post-container .row .row-col .actions .icon i.fa-comment {
  color: #fff;
}

.post-container .row .row-col .actions .icon i.fa-comment:hover {
  color: #88a7f7;
}



/* Contact Section  */
.contact-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

.contact-container h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.contact-container .row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.vertical-line {
  border: 0;
  margin: 0;
  width: 1px;
  height: 500px;
  background-color: #24252A;
}

.contact-container .row .contact-col form .contact-details  {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-container .row .contact-col form .contact-details .input{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: left;
}

.contact-container .row .contact-col form .contact-details .input input {
  outline: 0;
  border: none;
  border-bottom: 2px solid #24252A;
  width: 250px;
}

.contact-container .row .contact-col form .input span {
  font-size: 22px;
}

.contact-container .row .contact-col form .message textarea {
  width: 520px;
  height: 120px;
  font-size: 16px;
  margin: 10px 0 20px 20px;
  resize: none;
  border: none;
  border-bottom: 2px solid #24252A;
}

.contact-container .row .contact-col form .message span {
  font-size: 22px;
  margin-left: 20px;
}

.contact-container .row .contact-col .submit {
  position: relative;
  float: right;
}


.contact-container .row .contact-col {
  margin: 0px 30px 20px 30px;
}
.contact-container .row .contact-col h3 {
  font-size: 28px;
  margin-top: 20px;
}

.contact-container .row .contact-col p {
  font-size: 20px;
  margin-top: 5px;
}

.contact-container .row .contact-col .contact-pair {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
}

.contact-container .row .contact-col .contact-pair .icon {
  min-width: 35px;
  height: 35px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact-container .row .contact-col .contact-pair i {
  font-size: 20px;
}

.contact-container .row .contact-col .contact-pair h5 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 10px;
}

/* Content Post Section  */
.bc-container {
  margin: auto;
  width: 72%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.pc-container {
  margin: auto;
  width: 72%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pc-container .row {
  display: flex;
}

.pc-container .row .content-col {
  display: flex;
  flex-direction: row;
}

.pc-container .row .content-col i {
  font-size: 35px;
}

.pc-container .row .content-col .icon {
  min-width: 42px;
  height: 42px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 20px;
}

.pc-container .row .content-col h3 {
  font-size: 24px;
  font-weight: 400;
  margin-left: 15px;
}

.pc-container .horizontal-line {
  border: 0;
  margin: 0;
  width: 100%;
  height: 2px;
  background-color: #24252A;
  margin-top: 20px;
}

.pc-container .header-details {
  display: flex;
  margin: 30px 0 0 25px;
}

.pc-container .header-details i {
  font-size: 48px;
}

.pc-container .header-details h1 {
  font-size: 45px;
  font-weight: 400;
  margin-left: 20px;
}

.pc-container p {
  font-size: 25px;
  margin: 20px 0 0 20px;
  margin-left: 20px;
  font-weight: 400;
}

.pc-container .fav-icon {
  float: right;
  margin-top: 40px;
}

.pc-container .fav-icon button {
  display: flex;
  background-color: #24252A;
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  transition: all 0.3s ease 0s;
}

.pc-container .fav-icon button:hover {
  background-color: #9898a3;
}


.pc-container .fav-icon .icon {
  min-width: 36px;
  height: 36px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 20px;  
}

.pc-container .fav-icon i {
  font-size: 24px;
  color: #d9534f;
}

.pc-container .fav-icon span {
  font-size: 20px;
  margin: 2px 20px 0 30px;
  color: #fff;
}

/* Comments Section */
.ms-container {
  margin: auto;
  width: 72%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.ms-container .header-details {
  display: flex;
  justify-content: space-between;
}

.ms-container .header-details h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 0 15px;
}

.ms-container .row {
  margin: 15px 0 0 20px;
  display: flex;
  flex-direction: column;
}

.ms-container .row .content-col {
  margin: auto;
  background-color: #D9D9D9;
  width: 100%;
  height: 150px;
  border: 2px solid #24252A;
  border-radius: 20px;
  margin-top: 20px;
}

.ms-container .action {
  text-align: center;
}

.ms-container button {
  font-size: 16px;
  margin: 20px 0 0 20px;
}

/* Profile View Section  */
.pv-container {
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 72%;
}

.pv-container header {
  font-size: 45px;
}

.pv-container .icon {
  width: 240px;
  height: 230px;
  background: #24252A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-top: 30px;
  border: 4px solid #D9D9D9;
}

.pv-container .icon i {
  font-size: 180px;
  color: #f7f7f7;
  margin-top: 50px;
}

.pv-container .user-details {
  margin: 30px 0 50px 0;
}

.pv-container .user-details h3 {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 400;
}

.pv-container .actions {
  width: 40%;
}

.pv-container .actions .tabs {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.pv-container .actions .tabs li {
  position: relative;
  font-size: 22px;
  cursor: pointer;
}

.pv-container .actions .tabs li::after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: -3%;
  width: 100%;
  height: 5px;
  background: #24252A;
  border-radius: 30px;
}

.pv-container .actions .tabs li.active::after{
  list-style: none;
}

.pv-container .row {
  width: 100%;
  position: relative;
}

.pv-container .row .content-col {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.pv-container .row .content-col .active {
  display: block;
}
