@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

li, 
button {
  font-size: 14px;
  font-weight: 500;
  color: #26272c;
  cursor: pointer;
}

.btn {
  padding: 8px 30px;
}

.btn-border {
  border-radius: 20px;
  background-color: #26272c;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.btn-no-border {
  border-radius: none;
  background-color: #f7f7f7;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.btn-border:hover {
  background-color: #9898a3;
}

.btn-no-border:hover {
  color: #9898a3;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 30px 175px 20px;
  border-bottom: 1px solid #26272c;
}

hr {
  position: relative;
  width: 1150px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  font-size: 20px;  
  color: #26272c;
}

.left-content {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
}

.left-content a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 60px;
  font-size: 18px;
}

.nav-links a {
  color: #26272c;
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #9898a3;
}

.right-content button {
  margin-left: 10px;
}

/* Sub-header Section  */
.sub-header {
  padding: 20px 150px;
}

.sub-header .nav-links a {
  text-decoration: none;
}

/* Introduction Section  */
.intro {
  display: flex;
  color: #26272c;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.left-intro header {
  font-size: 65px;
  font-weight: 600;
}

.left-intro p {
  margin-top: 15px;
  font-size: 18px;
}

.left-intro button {
  margin-top: 25px;
}

.right-img {
  margin-left: 25%;
  object-fit: cover;
}

.banner .content-col p {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

/* Content Collection Section  */
.collection {
  padding: 20px 190px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.collection h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 35px;
}

.collection .message {
  margin-left: 24px;
  font-size: 16px;
}
.collection a {
  text-decoration: none;
  font-weight: 600;
  color: #26272c;
  transition: all 0.3s ease 0s;
}

.collection a:hover {
  color: #5a5b60;
}

.collection .row {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}

.collection .row .content-col {
  background-color: #D9D9D9;
  padding: 18px 60px 50px 18px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.collection .row .content-col:hover {
  box-shadow: 0 0 20px 0 rgba(0,0,0, 0.5);
}

.collection .row .content-col h3 {
  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

.collection .row .content-col p {
  margin-top: 7px;
  text-align: left;
}

/* Content Banner Section  */
.banner {
  background-color: #D9D9D9;
  color: #24252A;
  margin: 0 auto;
  height: 700px;
  width: 78%;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding-left: 0;
}

.banner .left-content {
  display: block;
  flex-direction: column;
  margin-top: 20px;
}

.banner .left-content .detail-row {
  display: flex;
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;
}

.banner .left-content header {
  font-size: 50px;
  font-weight: 500;
}

.banner .left-content .detail-row i{
  font-size: 50px;
}

.banner .left-content .detail-row h3 {
  font-size: 40px;
  font-weight: 400;
  margin-left: 15px;
}

.banner .left-content h5 {
  font-size: 25px;
  font-weight: 400;
  margin-left: 88px;
  color: #9898a3;
}

.banner .right-content {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/images/join.jpg);
  background-position: center;
  background-size: cover;
  width: 500px;
  margin-left: 68px;
}

.banner .right-content img {
  position: relative;
  object-fit: cover;
  height: 100px;
  width: 100px;
}


/* Join Section  */
.join {
  margin: 60px auto;
  background-color: #D9D9D9;
  background-position: center;
  background-size: cover;
  width: 70%;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.join header {
  color: #24252A;
  font-size: 40px;
}

.join h4 {
  color: #5a5b60;
  font-weight: 400;
  font-size: 20px;
}

.join button {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Footer Section  */

.footer {
  background-color: #26272c;
  color: #fff;
  position: sticky;
  top: 100%;
}

.footer .row {
  margin-left: 230px;
  display: flex;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 80px;
}

.footer .row .content-col {
  flex-basis: 25%;
  margin-bottom: auto;
}


.footer .row .content-col ul li{
  color: #fff;
  list-style: none;
  margin-top: 10px;
}

.footer .row .content-col .title {
  font-weight: 700;
  font-size: 15px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 210px 60px;
}

.horizontal-line {
  margin: 10px auto;
  width: 1100px;
  height: 2px;
  background-color: #fff;
}

/* Login Page  */
.login {
  padding-left: 8%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #f7f7f7;
}

.wrapper {
  background: #fff;
  margin-top: 30px;
  width: 400px;
  border-radius: 16px;
  box-shadow: 0px -0x 26px -2px rgba(0,0,0,0.52);
  -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.52);
}

.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #26272c;
}

.form form {
  margin: 20px 0;
}

.error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.success-txt {
  color: #148b2e;
  background: #9bebac;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #b0e9c5;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-weight: 600;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.form .link {
  margin: 10px 0;
  font-size: 15px;
}

.form .link a {
  color: #26272c;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.form .link a:hover {
  text-decoration: underline;
}

.text-danger {
  font-size: 13px;
  color: #d9534f;
  padding-left: 2px;
}

/* Footer Section */
.footer {
  background: #24252A;
  margin-top: 40px;
  padding: 10px 40px;
  bottom: 0;
}

.footer-details {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.footer-mtn {
  margin-top: 400px;
  background: #24252A;
  padding: 10px 40px;
}






